<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>ỨNG DỤNG QUẢN LÝ PRODUCT</title>
</head>
<body>
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">TRANG CHỦ ỨNG DỤNG QUẢN LÝ PRODUCT</h1>
        <p class="lead">Chào mừng bạn đến với ứng dụng quản lý product của chúng tôi.</p>
        <hr class="my-4">
        <p>Tìm kiếm, quản lý và khám phá thế giới product.</p>
        <a class="btn btn-primary btn-lg" href="/products/view" role="button">Bắt đầu</a>
    </div>
</div>

</body>
</html>
